# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
*.sqlite3
*.db

# Python virtual environments
venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temp downloads
temp_downloads/

docker-build.sh